<div class="row justify-content-center mt-5">
  <div class="col-8">
    <div class="jumbotron" id="jumbotron_show">
      <h1 class="display-6 text-center"><%= @article.title %></h1>
      <hr class="my-4">

      <div class="row">
        <div class="col-2">
          <p><strong> Descriprion: </strong></p>
        </div>

        <div class="col-6">
          <h3 class="lead"><%= @article.description %></h3>
        </div>
      </div>

      <hr class="my-4">

      <div class="container text-center">
        <div class="row">
          <div class="col-sm">
            <%= link_to "Back to all articles", articles_path, class: "btn btn-outline-secondary" %>
          </div>
          <div class="col-sm">
            <%= link_to "Edit this article", edit_article_path, class: "btn btn-outline-secondary" %>
          </div>
          <div class="col-sm">
            <%= link_to "Delete this article", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
